In [1]:
import os
import regex as reg
import datetime
import pandas as pd
from pprint import pprint

In [2]:
csv_path = os.path.join('..', '..', 'raw', 'get_it_done_311_requests_datasd.csv')
df = pd.read_csv(csv_path, low_memory=False)

In [3]:
df.count()

service_request_id         275281
parent_case_number         275281
status_description         275281
mobile_web_status          275281
duplicate_verified         275281
override_duplicate         275281
functional_location        249932
referral_email                745
referred_email_update       43935
source                     275280
requested_datetime         275281
closed_date                125670
updated_datetime           158982
open                       275281
closed                     275281
description                273914
agency_responsible         274720
service_name               274244
service_subtype             72326
coordinates                275281
lat                        275281
long                       275281
sap_notification_number    104035
sap_problem_category       156983
sap_problem_code           156947
sap_problem_type           156964
address                    274431
case_record_type           275281
district                   274405
dtype: int64

### split data and time and create columns for year,  month and day

In [4]:
df['date'], df["time"] = df['requested_datetime'].str.split('T').str
df['date'] = df['date'].map(lambda x: [int(y) for y in x.split('-')])
df['weekday'] = df['date'].map(lambda x: datetime.date(*x).strftime('%A'))
df[['date', 'weekday']].head()

            date weekday
0  [2018, 7, 29]  Sunday
1  [2018, 7, 29]  Sunday
2  [2018, 7, 29]  Sunday
3  [2018, 7, 29]  Sunday
4  [2018, 7, 29]  Sunday

### drop unneeded columns

In [5]:
df.drop([
    'requested_datetime',
    'coordinates',
    'referral_email',
    'referred_email_update',
    'parent_case_number',
    'sap_notification_number',
    'sap_problem_code',
    ], axis='columns', inplace=True)

#### save to file

In [6]:
df.to_csv(os.path.join('..', '..', 'data', '311_cleaned_data_.csv'), index=False)