In [54]:
import os
import pandas as pd
from pprint import pprint

In [55]:
csv_path = os.path.join('Resource', 'get_it_done_311_requests_datasd.csv')

dirty_df = pd.read_csv(csv_path, low_memory=False)

In [56]:
dirty_df.shape

(275281, 29)

In [57]:
dirty_df.count()

service_request_id         275281
parent_case_number         275281
status_description         275281
mobile_web_status          275281
duplicate_verified         275281
override_duplicate         275281
functional_location        249932
referral_email                745
referred_email_update       43935
source                     275280
requested_datetime         275281
closed_date                125670
updated_datetime           158982
open                       275281
closed                     275281
description                273914
agency_responsible         274720
service_name               274244
service_subtype             72326
coordinates                275281
lat                        275281
long                       275281
sap_notification_number    104035
sap_problem_category       156983
sap_problem_code           156947
sap_problem_type           156964
address                    274431
case_record_type           275281
district                   274405
dtype: int64

In [64]:
dirty_df.describe()

,service_request_id,duplicate_verified,override_duplicate,open,closed,lat,long,district
count,275281.000000,275281.000000,275281.000000,275281.000000,275281.000000,275281.000000,275281.000000,274405.000000
mean,227110.890672,0.096400,0.102877,0.425144,0.574856,32.774081,-117.095095,4.971899
std,82631.134664,0.295139,0.303798,0.494366,0.494366,0.456851,2.088214,2.719430
min,80495.000000,0.000000,0.000000,0.000000,0.000000,-43.578128,-124.211429,1.000000
25%,155606.000000,0.000000,0.000000,0.000000,0.000000,32.722955,-117.180656,3.000000
50%,227019.000000,0.000000,0.000000,0.000000,1.000000,32.752525,-117.134614,4.000000
75%,297874.000000,0.000000,0.000000,1.000000,1.000000,32.803593,-117.094919,8.000000
max,384125.000000,1.000000,1.000000,1.000000,1.000000,59.933741,172.709463,9.000000

In [60]:
dirty_df.drop(['coordinates',
               'referral_email',
               'referred_email_update',
               'parent_case_number',
               'sap_notification_number',
               'sap_problem_code',
              ], axis='columns', inplace=True)

In [61]:
dirty_df[['lat', 'long']].head()

         lat        long
0  32.783734 -117.202187
1  32.743110 -117.210460
2  32.714120 -117.121590
3  32.707370 -117.146590
4  32.584330 -117.027900

In [62]:
dirty_df.to_csv(os.path.join('Resource', 'get_it_done_311_requests_data_subset_.csv'))