# Create all charts
---

## The data sets we used are:
* City of Austin, austin_311_service_requests.csv
* The Travis county zip codes from the US Census Bureau.
* Social/Economic census data for Austin, TX by zipcode from the US Census Bureau
* City of Austin Household statistics from the US Census Bureau.

In [20]:
import os
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [21]:
path_311 = os.path.join('..', 'data', '311_cleaned_data_.csv')
df = pd.read_csv(path_311)
df.count()

service_request_id      275281
status_description      275281
mobile_web_status       275281
duplicate_verified      275281
override_duplicate      275281
functional_location     249932
source                  275280
closed_date             125670
updated_datetime        158982
open                    275281
closed                  275281
description             273914
agency_responsible      274720
service_name            274244
service_subtype          72326
lat                     275281
long                    275281
sap_problem_category    156983
sap_problem_type        156964
address                 274431
case_record_type        275281
district                274405
date                    275281
time                    275281
weekday                 275281
year                    275281
month                   275281
day                     275281
dtype: int64

### Number of 311 calls by month

* be sure to limit this to a two year period

In [23]:
# period = df[df['year']]

In [ ]:
months = df.groupby('month', as_index=False)['service_request_id'].count()
months['month'] = months['month'].map(lambda x: datetime.date(1900, int(x), 1).strftime('%B'))
months

In [ ]:
plt.figure(figsize=[16, 8])
plt.bar(months['month'], months['service_request_id'])

### Number of 311 calls by type

In [ ]:
service_df = df.groupby('service_name')
service = service_df['service_request_id'].sum().sort_values()
fig, ax = plt.subplots(figsize=[16, 8])
ax.bar(service.index, service)
plt.xticks(rotation='90')
''

### breakdown of percentage of call categories

### locations of callers (bubble plot?)

### Number of calls per capita by zipcode

In [ ]:
pop_path = os.path.join('..', 'data', 'census_population_by_zip.csv')
pop_df = pd.read_csv(pop_path)
pop_df.head()

### Number of calls by median household income of zip

In [29]:
income_path = os.path.join('..', 'data', 'census_income_by_zip.csv')
income_df = pd.read_csv(income_path)
income_df

    zip_code  Mean income  MoE Mean income  Median income  MoE Median income
0      91911        62932             2137          51383               1874
1      91914       137640             8680         124578               7047
2      91915       111918             8589         104170               6753
3      91932        59870             2942          48010               1975
4      91942        70677             3837          55753               3194
5      91945        66936             2833          59025               3337
6      91950        54302             2179          41867               1768
7      92014       187673            18672         120882              17310
8      92025        74443             3085          50774               2336
9      92027        73327             3148          56250               3382
10     92029       106300             6354          86250               7765
11     92037       163908             8038         102297               4866
12     92064       125843             4914          98942               5229
13     92065        97271             4392          79169               4143
14     92067       192739            30163         133355              46317
15     92071        88484             3108          77712               3388
16     92075       139341            10277          99688              13278
17     92101        88499             6445          57209               4795
18     92102        59152             3506          42464               2824
19     92103        98416             5194          72200               4382
20     92104        72742             2948          52029               2607
21     92105        50122             2139          37908               1909
22     92106       124868             9446          83288               9017
23     92107        92993             3993          73088               5300
24     92108        78204             4701          65586               4617
25     92109        90252             4129          71098               2214
26     92110        77786             4547          61310               3604
27     92111        76696             4461          60134               3870
28     92113        42378             2075          31001               1654
29     92114        70361             2625          58036               3002
30     92115        66105             3101          46994               2242
31     92116        78965             3161          60362               3168
32     92117        84288             3218          66297               4890
33     92118       131277             6418          92413               4915
34     92119        90793             4288          74507               3311
35     92120       108202             7738          85275               4877
36     92121       125100            11615         101906               9700
37     92122        92248             3847          73756               8791
38     92123        87485             3873          72245               3716
39     92124       103571             6534          82037               3877
40     92126       102147             2663          90006               3008
41     92127       156220            11169         117150              11714
42     92128       109261             3823          96026               4637
43     92129       129918             3939         115260               6940
44     92130       176857             7503         136855               6695
45     92131       147410             4860         120584               6384
46     92139        68459             2651          57442               4150
47     92145       245707            45134         202563             170382
48     92154        72416             2904          61618               2500
49     92173        46944             2280          37166               2343

### Number of calls by crime rate of zip

### Percent of call types by median household income (stacked bar)

### Number of calls by Temperature scatter

In [25]:
owm_path = os.path.join('..', 'data', 'owm_2016_2018.csv')
temp_df = pd.read_csv(owm_path)
temp_df.head()

                          dt_iso  temp_f  pressure  humidity weather_main
0  2016-05-01 07:00:00 +0000 UTC   54.37      1012        72       Clouds
1  2016-05-01 08:00:00 +0000 UTC   53.69      1012        72         Haze
2  2016-05-01 09:00:00 +0000 UTC   52.63      1012        72         Haze
3  2016-05-01 09:00:00 +0000 UTC   52.63      1012        72         Mist
4  2016-05-01 10:00:00 +0000 UTC   51.84      1011        77         Mist

In [ ]:
[x for x in temp_df['dt_iso'].head()]

### Number fo calls by weekday

In [ ]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', ]
weekdays = df.groupby('weekday', as_index=False)['service_request_id'].count()
weekdays['day_order'] = weekdays['weekday'].map(lambda x: days.index(x))
weekdays.sort_values('day_order', inplace=True)
weekdays

In [ ]:
plt.figure(figsize=[16, 8])
plt.bar(weekdays['weekday'], weekdays['service_request_id'])